<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>表单输入绑定</title>
  <script src="../js/vue.js"></script>
</head>
<body>

<!--
    表单输入绑定
    基础用法
    你可以用 v-model 指令在表单控件元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。
    尽管有些神奇，但 v-model 本质上不过是语法糖，它负责监听用户的输入事件以更数据，并特别处理一些极端的例子。

    v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值。因为它会选择 Vue 实例数据来作为具
    体的值。你应该通过 JavaScript 在组件的 data 选项中声明初始值。

    对于要在 IME（如中文、日语、韩语等）（IME 意为"输入法"）的语言，你会发现 v-model 不会在 ime 输入中得到更
    新。如果你也想更新，请使用 input 事件。
-->
<div id="dome">
    <input type="text" v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
</div>
<script>
    var vm = new Vue({
        el: '#dome',
        data: {
            message: ''
        }
    })
</script>


<!--
    多行文本
-->
<div id="dome-1">
    <span>Mulitline message is:</span>
    <p style="white-space:pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
</div>
<script>
    var vm = new Vue({
        el: '#dome-1',
        data: {
            message: ''
        }
    })
</script>
<!--
    在文本区域插值（<textarea></textarea>）并不会生效，应用 v-model 来代替。
-->

<!--
    复选框
    单个复选框，逻辑值：
-->
<div id="dome-2">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
</div>
<script>
    var vm = new Vue({
        el: '#dome-2',
        data: {
            checked: false
        }
    })
</script>


<!--
    多个勾选框，绑定到一同一个数组：
-->
<div id="dome-3">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-3',
        data: {
            checkedNames:[]
        }
    })
</script>


<!--
    单选按钮
-->
<div id="dome-4">
    <input type="radio" id="one" vaule="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="tow" value="Tow" v-model="picked">
    <label for="tow">Tow</label>
    <br>
    <span>Picked : {{ picked }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-4',
        data: {
            picked: ''
        }
    })
</script>


<!--
    选择列表
    单选列表：
-->
<div id="dome-5">
    <select v-model="selected">
        <option value="" disabled>请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected : {{ selected }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-5',
        data: {
            selected: ''
        }
    })
</script>
<!--
    如果 v-model 表达初始的值不匹配任何的选项， <select> 元素就会以 "未选择中" 的状态渲染。在 IOS 中，这会使用
    户无法选择第一个选项，因为这样的情况下， ios 不会引发 change 事件。因此，像以上提供 disabled 选项是建议的做法。
-->

<!--
    多选列表（绑定到一个数组）:
-->
<div id="dome-6">
    <select v-model="selected" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-6',
        data: {
            selected: []
        }
    })
</script>

<!--
    动态选项，用 v-for 渲染：
-->
<div id="dome-7">
    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected :{{ selected }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-7',
        data: {
            selected: 'A',
            options: [
                {text: 'One', value: 'A'},
                {text: 'Tow', value: 'B'},
                {text: 'Three', value: 'C'}
            ]
        }
    })
</script>

<!--
    值绑定
    以于单选按钮，勾选框及选择列表选项， v-model 绑定的 value 通常是静态字符串（对于
    勾选框是逻辑值）：
-->

<!-- 当选中时， `picked` 为字符串 "a" -->
<!-- <input type="radio" v-model="picked" value="a"> -->

<!-- `toggle` 为 true 或 false  -->
<!-- <input type="checkbox" v-model="toggle"> -->

<!-- 当选中时， `selected` 为字符串 "abc" -->
<!-- <select v-model="selected"> -->
    <!-- <option value="abc">ABC</option> -->
<!-- </select> -->

<!--
    但有时候我们想绑定 value 到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且
    这个属性的值可以不是字符串。
-->


<!--
    复选框
-->
<div id="dome-8">
    <input 
        type="checkbox"
        v-model="toggle"
        v-bind:true-value="0"
        v-bind:false-value="1"
    >
    <span>Toggle: {{ toggle }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-8',
        data: {
            toggle: 0
        }
    })
</script>
<!--
    // 当选中时
    vm.toggle = 0
    // 当未选中时 
    vm.toggle = 1
-->
    
<!--
    单选按钮
-->
<div id="dome-9">
    <input type="radio" v-model="pick" v-bind:value="1">
    <span>Pick : {{ pick }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-9',
        data: {
            pick: ''
        }
    })
</script>
<!--
    // 当选中时
    vm.pick = 1
-->

<!--
    选择列表的选项
-->
<div id="dome-0">
    <select v-model="selected">
        <!-- 内联对象字面量 -->
        <option v-bind:value="{ number: 123 }">123</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<script>
    var vm = new Vue({
        el: '#dome-0',
        data: {
            selected: {}
        }
    })
</script>
<!--
    // 当选中时
    typeof vm.selected  // => 'object'
    vm.selected.number // => 123
-->

<!--
    修饰符

    .lazy
    在默认情况下， v-model 在 ipnut 事件中同步输入框的值与数据（除了上述 IME 部分），
    但你可以添加一个修饰符 lazy ，从而转变为在 change 事件上同步：

    在 'change' 而不是 'input' 事件中更新
    <input v-model.lazy="msg">

    .number
    如果想自动将用户的输入转为 Number 类型（如果原有值的转换结果来 NaN 则反回原值），
    可以添加一个修饰符 number 给 v-model 来处理输入值：

    <input v-model.number="age" type="number">
    这通常很有用，因为在 type="number" 是 HTML 中输入的值也总是会返回字符串类型。

    .trim
    如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入：

    <input v-model.trim="msg">
-->

<!--
    v-model 与组件

    如果你还不熟悉 Vue 的组件，跳过这里即可。

    HTML内建的 input 类型有时不能满足你的需求。还好，Vue 的组件系统允许你创建一个具有定义
    行为可复用的 input 类型，这些 input 类型甚至可以和 v-model 一起使用！要了解更多，请
    参阅 自定义 input 类型。
-->




</body>
</html>

